.card {
  width: 1800px;
  margin-bottom: 20px;
}

.fc-day-grid-event > .fc-content{
  white-space: normal;
}

.fc-day-grid-event {
  cursor: pointer;
}

::ng-deep .fc-day-grid-event {
  cursor: pointer;
}

::ng-deep .fc-day-grid-event:hover {
  color: white !important;
}




