.card {
  min-width: 800px;
  margin-bottom: 20px;
}

::ng-deep .ui-fileupload-choose.ui-button, .ui-fileupload-choose.ui-button .ui-widget, .ui-fileupload-choose.ui-button .ui-state-default {
  background-color: #0275d8;
  border: 1px solid #0275d8;
  color: #ffffff;
}

::ng-deep .ui-fileupload-choose.ui-button.ui-state-hover, .ui-fileupload-choose.ui-button.ui-state-focus, .ui-fileupload-choose.ui-button.ui-state-active {
  background-color: #025aa5;
  border-color: #01549b;
}

::ng-deep .ui-fileupload-buttonbar {
  margin-left: 8px;
}
