<p-toast position="center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center;">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
<div class="container">
  <h3 class="text-center text-white pt-5">Rooms</h3>
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-header">Rooms</div>
      <div class="card-body">
        <p-table [columns]="cols" [value]="rooms" [scrollable]="true" scrollHeight="350px">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" style="width:150px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-room>
            <tr>
              <td>{{room.number}}</td>
              <td>{{room.floor}}</td>
              <td>{{room.maxPeopleCapacity}}</td>
              <td>{{room.dailyRateForPerson}}</td>
              <td style="text-align: center;">
                <img *ngIf="roomPhotosMap.get(room.roomId)" [src]="roomPhotosMap.get(room.roomId).photo" height="100" width="100" alt="" style="object-fit: contain">
                <span *ngIf="!roomPhotosMap.get(room.roomId)">Brak zdjęcia</span>
              </td>
              <td style="text-align: center">
                <span><button class="btn btn-primary btn-sm" [routerLink]="room.roomId">Modyfikuj</button></span>
              </td>
              <td style="text-align: center">
                <button class="btn btn-danger btn-sm" (click)="onRoomDelete(room.roomId)">Usuń</button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <button class="mt-3 btn btn-success btn-sm" (click)="onRoomAdd()">Dodaj</button>
      </div>
    </div>
  </div>
</div>
