.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content {
  background-color: #17a2b8;
}

/*@media (min-width: 768px) {*/
/*  .menu-text {*/
/*    display: none;*/
/*  }*/
/*}*/

i {
  font-size: 1.8em;
  margin-left: 10px;
}

.menu-text {
  width: 100px;
}

mat-sidenav {
  background-color: #ffffb3;
}
