<app-header></app-header>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
<div class="container">
  <h3 class="text-center text-white pt-5">Update account</h3>
  <div class="row justify-content-center">
      <div class="card">
        <div class="card-header">Update account</div>
        <div class="card-body">
          <form #updateAccountForm="ngForm" [class.was-validated]="submitted" (ngSubmit)="showConfirm()">
            <div class="form-group row">
              <label for="firstName" class="col-md-4 col-form-label text-md-right">First Name</label>
              <div class="col-md-6">
                <input
                  required
                  type="text"
                  id="firstName"
                  class="form-control"
                  name="firstName"
                  pattern="^[a-zA-Z]*$"
                  [(ngModel)]="account.firstName">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="lastName" class="col-md-4 col-form-label text-md-right">Second Name</label>
              <div class="col-md-6">
                <input
                  type="text"
                  id="lastName"
                  class="form-control"
                  name="lastName"
                  required
                  pattern="^[a-zA-Z]*$"
                  [(ngModel)]="account.lastName">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="emailAdress" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
              <div class="col-md-6">
                <input required
                       type="text"
                       id="emailAdress"
                       class="form-control"
                       name="emailAdress"
                       pattern="^[a-zA-Z0-9_!#$%&’*+/=?`{|}~^-]+(?:\.[a-zA-Z0-9_!#$%&’*+/=?`{|}~^-]+)*@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                       [(ngModel)]="account.email">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Make sure you provided valid email address.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="enabled" class="col-md-4 text-md-right">Active</label>
              <div class="col-md-6">
                <input
                       type="checkbox"
                       id="enabled"
                       name="enabled"
                       [(ngModel)]="account.enabled">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Make sure you provided valid email address.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="phoneNumber" class="col-md-4 col-form-label text-md-right">Phone Number</label>
              <div class="col-md-6">
                <input
                  required
                  type="text"
                  id="phoneNumber"
                  class="form-control"
                  name="phoneNumber"
                  pattern="^[0-9]{9}$"
                  [(ngModel)]="account.phoneNumber">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Provide 9-digit phone number.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="role" class="col-md-4 col-form-label text-md-right">Role</label>
              <div class="col-md-6">
                <select
                  required
                  type="text"
                  id="role"
                  class="form-control"
                  name="role"
                  [(ngModel)]="account.role">
                  <option value="ADMIN">ADMIN</option>
                  <option value="USER">USER</option>
                </select>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Choose Role.</div>
              </div>
            </div>

            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary" routerLink="../">
                <span [ngClass]="{'spinner-border': pending, 'spinner-border-sm': pending}"></span>
                Back
              </button>
              <button type="submit" class="btn btn-primary ml-4">
                <span [ngClass]="{'spinner-border': pending, 'spinner-border-sm': pending}"></span>
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
